.axis {
  .tick {
    text {
      font-size: 10px;
    }
    line, path {
      stroke: @gray;
    }
  }
  &.x-axis {
    .domain {
      stroke: #fefefe;
    }
  }
  .domain {
    stroke: @gray;
  }
}