.head-row {
  padding-top: @head-padding-top;
  padding-bottom: @head-padding-bottom;
  margin-bottom: @head-margin-bottom;
  background-color: @primary-white;
  border-bottom: @head-border-width @head-border-colour;
}
