#legend {
  position: absolute;
  top: 0;
  right: 65px;
  margin-top: 15px;
  padding: 3px 0 3px 10px;
  background-color: fadeout(@legend-background-color, 25%);
  color : @legend-font-color;
  line-height: 1em;
  font-family: @font-family;
  font-size: @legend-font-size;

  .legendLabel, .legendValue {
    float: left;
  }

  .legendLabel {
    min-width: 15px;
    color: #4f696c;
    font-weight: 900;
  }

  .legendValue {
    min-width: 55px;
    color: #7B9A9C;
  }
}
