#legend {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: fadeout(@legend-background-color, 25%);
    font-size: @font-size-small;
    color : @legend-font-color;
    line-height: 1em;
    font-family: @font-family-monospace;
    th {
        padding-right: 5px;
        text-align: center;
    }
    td {
        text-align: right;
    }
}
