.sidebar-menu {

  #type-selection, #period-selection {
    min-width: 0;
    width: auto;
    display: inline;
    vertical-align: middle;
  }

  [id*="-buttons"] {
    padding-top: @option-group-padding;

    .active {
      background-color: @toggled-background-colour;
      color: @toggled-text-colour;
    }
  }

}