#navbar-container {
    min-height: @navigator-height;
  .extent {
    stroke: @navigator-extent-stroke;
    fill: @navigator-extent-fill;
    fill-opacity: 0.125;
    shape-rendering: crispEdges;
  }
}
