#navbar-row {
  #navbar-container {
    min-height: @navigator-height;
    margin-right: 0 !important;

    .extent {
      height: @navigator-extent-height;
      transform: translateY(1.25px);
      fill: @navigator-extent-colour;
      stroke: @navigator-selection-border-colour;
      stroke-opacity: 0;
      fill-opacity: 0.125;
      shape-rendering: crispEdges;
    }

    .background {
      fill: @navigator-background-colour;
      stroke: @gridline-colour;
      stroke-width: 3px;
    }

    .plot-area {
      .multi {
        .area {
          fill: @gridline-colour;
        }
        path {
          stroke: @navigator-colour;
          stroke-width: @navigator-stroke;
        }
      }
      .n, .s, .ne, .nw, .se, .sw {
        cursor: default !important;   // Removed cursor set by brush. Gave false impression of resizing ability
      }
      .e, .w {
        > rect {
          width: @stroke-width;
          height: @navigator-handle-height;
          fill: @navigator-stroke-colour;
          stroke: @navigator-stroke-colour;
          stroke-opacity: 0.75;
          transform: translate(2px, 2px);
          visibility: visible !important;
        }
      }
      .outer-handle {
        stroke: @primary-white;
        stroke-width: @stroke-width;
        fill: @primary-dark-blue;
      }
      .inner-handle {
        stroke: @primary-white;
        fill: @primary-white;
      }
    }

    text {
      font-size: @font-size-base;
      fill: @font-colour;
    }
  }

  #navbar-reset {
    stroke: @primary-white;
    flex: 0 0 24px;
    height: 40px;
    opacity: 0.2;
    margin: 10px 21px 0 15px;
    fill: none;

    .active {
      fill: @primary-white;
      cursor: pointer;
    }
  }
}
