@primary-blue: #1a9af9;
@primary-green: #6c0;
@primary-red: #c60;
@primary-white: #f0f8ff;

// Plot Area
@candlestick-down-stroke: #000;
@candlestick-up-stroke: #000;
@candlestick-down-fill: @primary-red;
@candlestick-up-fill: @primary-green;
@moving-average-line-colour: #f0f;
@bollinger-upper-colour: @primary-red;
@bollinger-lower-colour: @primary-green;
@bollinger-fill-colour: #d3d3d3; 

// Primary Y Axis
@y-axis-width: 45px;
@annotation-text-colour: #fff;

// Shared X Axis
@x-axis-height: 20px;

// Navigator
@navigator-height: 100px;
@navigator-extent-colour: #d1d1e0;

// Seperator
@head-border-width: 2px solid;
@head-border-colour: #b0c4de;

// Sidebar
@bootstrap-padding-width: 15px;
@sidebar-width: 33.3%;
@bootstrap-md-width : 991px;

// Menu
@option-group-padding: 15px;
