@primary-blue: #1a9af9;
@primary-white: #f0f8ff;

// Plot Area
@annotation-text-colour: #fff;
@moving-average-line-colour: #f0f;
@candlestick-down-stroke: #000;
@candlestick-up-stroke: #000;
@candlestick-down-fill: #c60;
@candlestick-up-fill: #6c0;

// Navigator
@navigator-height: 100px;
@navigator-extent-colour: #d1d1e0;

// Seperator
@head-border-width: 2px solid;
@head-border-colour: #b0c4de;
