@primary-blue: #1a9af9;
@primary-green: @brand-success;
@primary-red: @brand-danger;
@primary-white: #f0f8ff;
@primary-black: #000;
@offwhite: #fefefe;

// Buttons
@toggled-background-colour: #5cb85c;
@toggled-text-colour: #fff;

// Plot Area
@candlestick-down-stroke: @primary-red;
@candlestick-up-stroke: @primary-green;
@candlestick-down-fill: @primary-red;
@candlestick-up-fill: @primary-green;
@ohlc-up-stroke: @primary-green;
@ohlc-down-stroke: @primary-red;
@moving-average-line-colour: #f0f;
@bollinger-upper-colour: @primary-red;
@bollinger-lower-colour: @primary-green;
@bollinger-fill-colour: @brand-primary; 

// Primary Y Axis
@y-axis-width: 45px;
@annotation-text-colour: #fff;

// Shared X Axis
@x-axis-height: 20px;

// Navigator
@navigator-height: 100px;
@navigator-extent-colour: @gray;

// Seperator
@head-border-width: 2px solid;
@head-border-colour: #b0c4de;

// Sidebar
@bootstrap-padding-width: 15px;
@sidebar-width: 33.3%;
@bootstrap-md-width : 991px;
